body {
  font-family: monospace, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #0c2e33; 
}

#gatherStick {
  
}

#gatherRock {
  
}

#searchArea {
  
}

#huntArea {
  
}

div.resourceWindow {
  background-color: #175760;
  padding: 5px;
  border: 2px solid white;
  height: 350px;
  width: 900px;
  list-style-type: none; 
}

div.label {
 display: inline;
 list-style-type: none; 
}

div.resourceWindowTab1 {
  background-color: #0c2e33;
  height: 300px;
  width: 850px;
}

ul.milestoneGoals {
  list-style-type: none; 
}

table.resourceHub {
 background-color: #175760;
 border-color: white;
 border-width: 2px;
 border-collapse: separate;
 border-spacing: 20px 40px;
}

div.progressBar1 {
 width: 500px;
 height: 60px;
 border-color: white;
 background-color: red;
 animnation-name: colorchange;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 -webkit-animation-name: colorchange;
 -webkit-animation-duration: 10s;
 -webkit-animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {background-color: Red;}
  33% {backgorund-color: Orange;}
  66% {background-color: Yellow;}
  99% {background-color: Green;}
}

@-webkit-keyframes colorchange {
  0% {background-color: Red;}
  33% {backgorund-color: Orange;}
  66% {background-color: Yellow;}
  99% {background-color: Green;}
}
