body {
  font-family: monospace, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #0c2e33; 
}

ul.removeBullets {
  list-style-type: none; 
}

#gatherStick {
  
}

#gatherRock {
  
}

#searchArea {
  
}

#huntArea {
  
}

#collectStick {
  
}

#stickButton {
  background-image: "wood_t.png";
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px; 
}

div.resourceWindow {
  background-color: #175760;
  padding: 10px;
  border: 2px solid white;
  height: 300px;
  width: 1000px;
  list-style-type: none; 
}

.stickBox {
  background-color: #0c2e33;
  padding: 10px;
  border: 2px solid white;
  height: 200px;
  width: 300px;
}

.stickIcon {
  
}

div.labelStick {

}

table.resourceHub {
 background-color: #175760;
 border-color: white;
 border-width: 2px;
 border-collapse: separate;
 border-spacing: 20px 40px;
}

div.progressBar1 {
 width: 500px;
 height: 60px;
 border-color: white;
 background-color: red;
 animnation-name: colorchange;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 -webkit-animation-name: colorchange;
 -webkit-animation-duration: 10s;
 -webkit-animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {background-color: Red;}
  33% {backgorund-color: Orange;}
  66% {background-color: Yellow;}
  99% {background-color: Green;}
}

@-webkit-keyframes colorchange {
  0% {background-color: Red;}
  33% {backgorund-color: Orange;}
  66% {background-color: Yellow;}
  99% {background-color: Green;}
}
